html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.block-with-background {
  position: relative;
  /* padding: 100px; */
  background-image: url("../images/test-1.jpg");
  background-size: cover;
  width: 100%;
  height: 440px;
}

.color-block {
  max-width: 420px;
  padding: 10px;
  margin: 160px auto 0 auto;
}

h1 {
  position: relative;
  /* font-size: 3.2em; */
  text-align: center;
  font-family: 'Abril Fatface', cursive;
}

canvas {
  position: relative;
}
